html, body {
    margin:0px;
    width:100vw;
    height:100vh;
    background-color: #B5CB99;
}

.display-container{
    display:grid;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-columns: 1fr 6fr 1fr;
    height:100%;
}

.header-container{
    grid-row: 1/2;
    grid-column: 1/-1;
    background-color: #B2533E;
    height:6rem;
    display:flex;
    justify-content: center;
    align-items: center;
}

.header-text{
    color: #FCE09B;
    font-size:2rem;
}

.grid-container{
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: #B5CB99;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap:10px;
    padding:10px;

}

.grid-square{
    width:100%;
    height:100%;
    border-radius:5px;
    border:1px solid #B2533E;
    background-color: #FCE09B;
    color: #B2533E;
    font-size: 4rem;
    display:flex;
    justify-content: center;
    align-items: center;
}

.footer-container{
    grid-row:3/4;
    grid-column: 1/-1;
    background-color: #B2533E;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.start-game, .restart-game{
    color: #FCE09B;
    margin:10px;
}



.modal{
    padding:0px;
    border-radius:5px;
    border: 1px solid black;
}

.winner-modal{
    height:8rem;
    width:8rem;
    padding:0px;
    font-size:2rem;
    color:#FCE09B;
    display:flex;
    justify-content: center;
    align-items:center;
}

.inner-modal{
    display:flex;
    flex-direction:column;
    align-items: center;
    background-color:#B2533E;
    outline:0;
}

.close-modal{
    margin:10px;
    background-color: #B5CB99;
    border:black 1px solid;
    border-radius:5px;
    padding:5px;
}

.modal:focus{
    outline:none;
}